html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    /*text-align: center;*/
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Homepage */

.intro {
    transform: translateY(22vh);
}

.intro > h1 {
    color: #212121;
    font-size: 10vh;
}

.intro > h2 {
    color: #757575;
    font-size: 3vmin;
}

.intro:after {
  content: "";
  display: table;
  clear: both;
}

/* Page content */

.content {
    padding-top: 20px;
}

/* Column positionning */

.column {
  float: left;
  padding: 10%;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Profile picture */

.profile {
    width: 150vh;
    height: 50vh;
    border-radius: 50%;
}

/* Colored links */

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
}

/* Copyright message */

.copyright {
    margin: 5px 0;
    font-size: 1.3vmin;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
    text-align: center;
}

/* personnal addition bigger navbar*/

.navbar {
  font-size: 1.1vmax;
}

/* Text custom */

.title_site {
  color: blue;
}

.subtitle {
  color: orange;
}

.title {
  text-align: center;
}
