{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    <div align="start" class="content">{{ .Content }}</div>

    {{ if isset .Params "abstract"}}
      <h4>by {{ $.Scratch.Get "authors" | markdownify}}<br>
        {{ if ne "" .Params.doi}}
          <a href="{{ .Scratch.Get "doi" }}"><i>{{ $.Scratch.Get "publication" }}</i>{{ $.Scratch.Get "info" }}</a><br>
        {{ else }}
          <i>{{ $.Scratch.Get "publication" }}</i>{{ $.Scratch.Get "info" }}<br>
        {{ end }}

      {{ $.Scratch.Get "note" }} {{ $.Scratch.Get "date" }}</h4>
      <div align="start" class="content">{{ markdownify .Params.abstract }}</div>

      <div class="content"><a href="{{ .Params.folder_name }}.bib">BibTeX citation</a></div>
    {{ end }}


</main>

{{ partial "footer" . }}
