{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        <div class="homepage-content text-justify">{{ markdownify .Site.Params.post }}</div>
        <div class="homepage-content text-justify">{{ markdownify .Site.Params.address}}</div>
        <div class="homepage-content text-justify">{{ markdownify .Site.Params.mail }}</div>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
